<ion-searchbar
  placeholder="Search by league"
  show-cancel-button="focus"
  [(ngModel)]="searchQuery"
  [debounce]="800"
  (ionInput)="searchByLeague($event)"
  (ionCancel)="clearContent($event)"
  (ionClear)="clearContent($event)"
></ion-searchbar>

<ion-list>
  @for(op of options; track op.name) {
  <ion-item button detail="false" (click)="selectOption(op)">
    <ion-label>{{ op.name }}</ion-label>
  </ion-item>
  }
</ion-list>
<ion-toast
  [isOpen]="isToastOpen"
  message="Veuillez chercher une autre league."
  color="warning"
  [duration]="3000"
  (didDismiss)="setOpen(false)"
></ion-toast>

<ion-toast
  [isOpen]="isErrorToastOpen"
  message="Server Error"
  color="danger"
  [duration]="3000"
  (didDismiss)="setOpen(false)"
></ion-toast>
