@let teams = teams$ | async;
<ion-content class="ion-padding">
  <ion-list>
    <ion-grid>
      <ion-row>
        @for(team of teams; track team.name) {
        <ion-col
          (click)="goToTeamDetail(team._id)"
          router-direction="forward"
          routerLinkActive="router-link-active"
          size="6"
          class="ion-padding"
        >
          <ion-img [src]="team.thumbnail" [alt]="team.name"></ion-img>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  @if(teams && teams.length == 0) {
  <p class="ion-text-center">Aucune équipe trouvée dans cette league.</p>
  }
</ion-content>
